.file-upload input[type='file'] {
    display: none;
}

.imgupld {
    margin-left: 44%;
    border-radius: 80px;
    height: 150px;
    width: 150px;
}


.Vinfo {
    margin: 15px 50px;
}

.Vinfo input {
    width: 100%;
}

.imgsection {
    display: flex;
}

.imgcondition {
    color: red;
    inline-size: 250px;
    overflow-wrap: break-word;
}

.themes {
    height: 150px;
    width: 150px;
    margin-left: 200px;
}

.discription {
    margin: 15px 50px;
}

.Choosefile {
    display: flex;
    justify-content: space-between;
}

.rounded-lg {
    border-radius: 1rem;
}

.custom-file-label.rounded-pill {
    border-radius: 50rem;
}

.custom-file-label.rounded-pill::after {
    border-radius: 0 50rem 50rem 0;
}
.uploadbtn {
   float: inline-end;
    height: 40px;
}